* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

body{
    position: relative;
    margin: 0;
    color: rgb(28, 28, 30);
}

#particle-canvas{
    width: 100%;
    height: 100%;
    background-color: #f6f9fc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}

/* #canvas1{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#ccc, #ffff);
} */

#main{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
}

.introduction {
    margin-left: 20px;
    align-items: center;
}

.introduction > h2 {
    text-align: right;
    font-size: 2.5em;
    justify-content: center;
    font-family: 'Kalam', cursive;
}

#name{
    text-align: right;
    font-size: 1.25em;
    top: 40%;
    right: 0%;
}

#selfContainer {
    padding: 10px;
    max-width: 320px;
}

#self{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.icons > ul {
    display: flex;
    justify-content: flex-end;
}

.icons > ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}


.icons > ul > li > a > i {
    color: #6772e5;
}

.icons > ul > li > a > i:hover{
    color: rgb(233, 19, 19);
}

.self-introduction {
    margin-top: 20px;
    max-width: 500px;
}

.self-introduction > p {
    text-align: justify;
    padding: 10px 10px;
    font-size: 25px;
    line-height: 25px;
    font-family: 'Kalam', cursive;
}

.self-introduction > p > strong{
    font-size: 21px;
    line-height: 25px;
    font-family: 'Kalam', cursive;
    color: #6772e5;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #6772e5;
}

.button {
    background: transparent;
    border: none;
    color: black; 
    border: 2px solid #6772e5;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button1:hover {
  background-color: #6772e5;
  color: white;
}


/* MODAL CSS */
.bg-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    position: relative;
    width: 900px;
    background-color: #f6f9fc;
    border-radius: 10px;
    padding: 30px 20px;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

#project-title > h2 {
    text-align: center;
    font-size: 2.8em;
    justify-content: center;
    font-family: 'Kalam', cursive;
    margin: 20px 0;
    text-decoration: underline;
}

.project-container {
    display: grid;
    grid-gap: 4vmin;
    grid-template-columns: repeat(2, 1fr);
}

.project-content{
    align-items: center;
    margin: 0 auto;
}

.project-content > a {
    text-align: right;
    margin: 0 auto;
    color: #6772e5;
}

.project-content > a:last-child{
    padding-left: 20px ;
}

.project-content > a:hover{
    color: red;
}

.project-preview{
    width: 380px;
    height: 280px;
}

.project-preview > img {
    width: 100%;
    height: 90%;
}