@tailwind base;
@tailwind component;
@tailwind utilities;

body {
  font-family: Poppins, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: -12px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  margin: 0;
  padding: 0;
}

html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}